.indicator{
    display: flex;
    justify-content: space-between;
}
.name{
    margin-bottom: 0;
    font-weight: bolder;
    text-transform: uppercase;
    color: rgb(19, 13, 63);
}
.value{
    margin-bottom: 0;
    font-weight: bold;
    color: rgb(19, 13, 63);
}