.card {
    border-radius: var(--main-border-radius);
}

.box {
    position: relative;
    border-radius: var(--main-border-radius);
    -webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
    background-color: var(--bg-color--card);
    color: var(--main-text-color);
    width: 85%;
    max-width: 675px;
    min-height: 300px;
    padding: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    text-align: center;

    left: 50%;
    transform: translate(-50%, -10%);
}
.items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}