.weekList {
    list-style-type: none;
    -webkit-box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    padding: 10px;
    left: 218px;
    position: absolute;
    margin: 1px;
}