.body{
    position: relative;
    width: 1100px;
    height: 1400px;
    margin-top: 55px;
    background-color: red;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

.container{
    position: relative;
    background-color: rgb(236, 180, 24);
    width: 1050px;
    height: 1350px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

