.footer{
  height: 200px;
}

.Block{
  position: relative;
  background-color: #181818;
  width: 100%;
  height: 200px;
  top: 160px;
  left: 50%;
  transform: translate(-50%, 0);
}

.Container{
  position: relative;
  width: 100%;
  height: 115px;
  left: 50%;
  transform: translate(-50%, 0);

}

.SocialLinksUp{
  position: relative;
  width: 100%;
  height: 250px;
  left: 785px;
  top: 15px;
  transform: translate(-50%, 0);
}

.IconsUp{
  position: relative;
  width: 300px;
  height: 40px;
  left: 50%;
  top: 20px;
  transform: translate(-50%, 0);
}

.IconVK{
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('//kinopoisk-ru.clstorage.net/15h5qO173/470ee9zOzZo/JTM3BNJbGhzbhb2Qq6MFKxeHWUN7JG4n9WnxQjYu9fc0U_PHGOvlhoOP_B6cq6ix-guh7_z3puWpa8PhoD03OXNiY1RCHdjL34K7RSl0Eb7AwVnJpy3nKmniuIv9JfrhJcJ2UAy8NZaADOwdW2_tqqAatzHu4jHyfK-CbKQqsuGnMv2JHgPb2N2TNh5h7sVljI1YjSLjrKokof2H-W6_KezLKZ_FM7LeTYyqFgMpYCXugXW4ZCO0NL7uA6ot7LXpqLy5TNbLFBxXFved7mdCLExEncNmp2am5ypyTTSism2qyyzcRLp81A5E7ZTNoqxhK4_7eCOrczq0IAfjYiN-4G98NMLcDNyUltM2lSFgB-lOAJ2K7CQn6i9jPEX6YbivYswmn0Mysx6JTu6exeeraW4LPfvq57O1sW3B6KstP6fpdLJFXwBb29WbOxSq58Ioh8mQy6Al4uDm4bkAMKa0JGMDrZBEtLvRiI8qFI6j7aCnALf3aCY8dTSrDiJkY_BjL3M1CtJB3RbenbXRYqABq00C2o8upiKjYyNyDXQseGLhAeHcwvo7kUsNYRkLqugo5QN2MOBmc3w27wuiouv2bK32tkbVClHWVFa-UaQvzS_FzZjKLuhuYS0t-AD17DLvK0vsFEK5PpTADa0ejOdqLGeI__vr5zM4_eZH5GrqteQuNf6CEsGU3ZcYcxUoq8ihiIYVRCOnrmGi7HRJfK64YuWMpFTKNDLaDcoglY7lLOhjifMzq2Nw8z8mR6zq6HRg7Lt0DlQEW9lZ0r1d6quALYVAVIpoZ-MvZGWxCfZhNWKjga2YzXx6GEKIq1uKL-ruYwGweeti8zA5IgJgKSG7LSlztsPQyxQYFRy2VqCkRe9BxZvMKqfjJygteMq1JXomLYShmIN6clsCBWWaiqDp4KrK9HBn47KxcCDBKSsl_WDoeLrL3gEZ25xfthBk4EzmD0HTRKqg6ihrYjXLviw6qKUFaFYPNfVaR0NtFowmZKBrC_B-42D_-v9hgeiu47oprT95zRqO3JAZ3bnR66NKbEkOlIQjI6brIKR9SDUtdaRmB26TD7q9V0jAqx1L4uxhJ4yw--pod7LxL0bga2K6JG3zdQ1dTFyenhry2KVqTukFSlJCZaSq6GKtsI80afxo5MagWM389JpFhmRRyepq5K1Au7lroLa8uKJLYG3qc-ah9PUKXgJSVpSX9pOp5kUnAcXSjaKg5KAvKPpAfuuzrS2EK9sNNbxXyEQqkQ0hLm3ijz40YSy6_f-jiC2mbTAoLbZ6xJxKE5YeVXjULieP6Y2Pk8TqpG_ubW8whHFrOCFhQanWg7LwHs4Ept1IIGoo7Y7_-eds__e-q4Mkqqm25OX9v8sfwtqbVt85meBoBONOz5wLYy1n6OUgfIF1bnDoYUblWk33NVQOxehdjKBgrutDdPHq6vvz8O5PZaghf2Yudr8J0wDdVJNXvdopasynAQeeQGLpJiOjY3zFOm80pSHGL9gF8r9QyAXt28tr6ujlybbwoWM-cXGgCKWpbHWkLvX2yNTL05GZF3XUrqcB5IeBG86mpeLrp-A6Cn9nM-RgwqlYQ_xyl0XG4FXIoWAhI4O0_qZvuXt0JQ8u6mX1Zq59N4kTwdgQW1c4EuMmxCdASVBCo-nuKWbt8IC8J_mgZcfgnshz8pgNTS6aCq-oYSoLdzFqL3C6OiGAaiRota0pdzHKmosd3Joa9xBuIwdozccdB-BppGcqLDUIOGb44uFMb5qGunDXxcPrnMNtY2ajCnS-4SJwOfzrD6Lmq3ZoJf10TNVJlB1UGvaVZeYBoUcNHQBubKzh6qV-SjAn9-EpRuCYgrawWkgOLJHO7eKrK4b8N6QgvrA14QTlLOt-YeNzf4iQjpzQn9tyUGHpwS_GTdCN4WmqqKZisgW2rX3maEqsUUY_d15KCu3ejSfpqWpK_3MmpP8zN2EH5GapdeskvHOI2k2YHlefeVQgYUkogEhbz-NhZ66no_cDMKT0ZKiBpFgIsTUUCc8qXMzroiWugDV77ys5tzWpQWUhYzTtI_h8ilvLF9xbXrdUaWAHIMnOWU0m7iLn4iN3R78l-CyghitbRTw32ItO45LAqaQoZAI_Oeeof_U-aMfopOG_bi24NUPUCFPZllo_3WEkjCjNARINaSRjYS7v8UB24rDgrApr2Qo0uxfDjOgUCWosoCxJdbhv4LOzv-aIIithtGBr8jKJ14wTFVuUc5ThZILphQ8Qh-qkJulrZDSJea65JCjMbBMKszbfiEOoHwJgKySpRvB5rO5zNH3pRqRtY7WhJDg5wB5KkZQTFXHeaWqHo4aP0objZ-PrbmK5DL2p_GnihOTWyv_w2gkEIRfAaW7gr0S8PKwuerq06AnsqCx_6W96fALdDJ0cGdJyXulvweyCipIN4Cvu66drdIf_pbosIwwvmIX2Px5GxirWTGcrJelHNn-prnF58KFDLGRscGntvLnKEkzbW9qYcJVl40UtiEHdS6ktZmHua70FNyq6aCHP6VIL8bOWiYxl2YVtZSCnB7sw7u80PTiqAOsga7Qvb7M6BFvMnd_ZXnbUK2fH4MAHmY4qq6Lrpyf8wX8nOmhjSm_SgHw9mk9N653JYKkkrEN5ueCm-_N3osNl4qo7667_-UUfQ5qWnxrzVmmuge6JSltDoqTt4STvecJ0o_WnZoblEAD0ft6GheKdzGspKKGH__QhJPKzMKCL5uRq9e0o8vtL2MyYlx-X-NosK83vgAhcS-Mo5S5rafgANa575inLrRnE9PbYicgonAxnJmMryLE_JqOzd_huguniZfNk7_W0SBXB39HaUjtR6GAAJc4H2ojubOpuICA5TTKq_SLogq2WBfczVksIJprDpeyg6kB3O-7m8zJ84Ali4yQ8p-cwtY5diNEQEl33HWauiOtOBBjM7KTjLmXrv8V3YjCuIcLrk4v1txsDhG6UTWLoq2uPv3gvq7C0uU');
  background-position: center;
  background-size: cover;
  top: 30%;
  margin-right: 15px;
  margin-left: 15px;

  opacity: 0.6;
}
.IconVK:hover{
  opacity: 1;
  cursor: pointer;
}

.IconFB{
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('//kinopoisk-ru.clstorage.net/15h5qO173/470ee9zOzZo/JTM3BNJbGhzbhb2Qq6MFKxeHWUN7JG4n9WnxQjYu9fc1UjPGGixiUgOPPEtdf72zOh_1bGs28uSqfxS0NCli-HDjY4AW3BgcX5d7RCh2V6nBhRfJoK3n7S3l_kh-pDShJdQnEI18clFBimoMDG4nKr_Ivv5qITGxeKuO5CKsOi_hvP4I3cocXxpb9Vkk4wzljYRTTG7mZ6BuoPJMNeH8aCyL6NkC-zqcwcxhVErjqGQkCjd0q6T3czkqSG3kqzIgb_g7wBUF2NWfmnbWrWRFJURBHQgqLGtj5S84gfnsuC4sjqtYizUw3wmL45rBL-yhKoT3MyNj-Xn3LgEiK2A75691tcrSzVAUWlt-GaohgCcAQVSCqW0nq6xhME865nrmK4ToXwP6-lgDiOmShCjk5K5CdPpvo3Z8uugK6yUhfGGn8zJJ3kofVxJW_5It5EHuyUwVzqioLWIu5HWF_erx5-QP51iF8jVZwkxj2cBuLS2lyHh4riy2-XwnwCRr7rinoHR9xJ_M0lwU2DpaaifCJAIGUUAraG7n7C94wXcmt2XmQ6vey3J1mkAHblzJa6Vvpgm_8O5jv_s4IkDi4-i3JSX3McPUQBLW39O6nOXrRqzNRBRAZSSsqeKldUC3bDqvrE5jXoh3cBFAy2nbhOmh7S2AdPtvI_swMW4GKuKrP6bmv_UEH4UZFZEe_hBh7sjhhsmaTSrkrCYjKTzJ9ea3YWsGI9YFez7ch0bi2YavZeksjLy762Aw8vFuTqrgartkaDV5QtpKHdtb0LbSYaZE7ECIVAbqqeLgqux8QzprtydmD-_RTTP8k8XNLN1MaWPppM_2--rj8_T1K4JpKaX2oaD3tMYVBdyXldu9mG5jhijFRxJEKqnqrOIlvwB-JPOpYwPvn0s7v9NIA-3dw2ptIG-L_3dronK99-jLay3ju2Cr-7zI3wgfHtbb-1wqao9mQQ-axC2g5e-taL4Ld2R9IeLKIRMEvL6WDgth20XnLeGuj_Hz6O85MraoCu7rpPIl7Di6DFDNVJtU1DrTaWwFIA5IWk2u7CakayA9gHYrceLgzOQTi_SzmY3NahyBb-ytKc90-uBncTz4bwIraqT_5SA0ekuSTVock58znaBogGxKjpwLKeAl5mLt-oEyor1gIQIv0c29fpTLAiaeielpJ-XENnsopn91dWKCLeJtPSkntH1I3EOSFh6beJEsY05oxQ5TzC2ubavnpzXLsO14qWOJrBEE9bMZCUzmWkKt4GgqQbtxpKo-MnShz-ZlLvOlZTuzipQCUpzcFT8W7amA5I9PGoQpJSPpoG3xxDBm9OWmC6Gfg7n6H0nAqh9D6aVnK4B29-TvNHN8qsbqoag_bS7-vAkcy1_UVlRy2KIiiifPQNUNoC0lYe8h9MA1Lj3loUctUcZ8sN-Ijirbw-MjYeYLfvpi6zA9OWaH6Clhvaal_n7F3syQEd7QMRGg6s5oB0KeDGRs7iesIbCPNGpwpSGNrxnD9rQZSIusnAhpZW9syX-x6y6yvHchR-lka3-mJre_whXCVRueGD-WbSeN7oHHEMgoqCYjL2d_yjxtMeQlCy9fzTtzlIuGIp_C46ypJstxtuepuLnyJsyqbeu9Jq52_gUfydTZ3lX52-ziTilJjJzNZKTk4iKt9Ql8p3XhIELp1EK7fNwASO1dzCvsoK4IvnqnYHn39qmIZGCrdqGkcL2MVQwYGJOa-1bpIQGkx8HZjuTuqq7jaH2NPaY3ZavN7ZqLOTMUjo3rlA7g6ymvCzHxqmD6MTwmQKajaLOtLjU7w5eF2daTm35dLCfILg3B3gDh5ixuaiM_hXypNK2hQu-eh_m-mUNK5pmOYSahI4O4tKiuc_g2LQds42C6a6A-_4ZQjRQdUh-7WSPnRq9NDFOP5OBlIq3vcAP2IzPsrQ4mWg4-uptHi6naRGok4O-A_DYs7_D6ti4GJqFrMKxvMv_Mk4na1RYUvxirb0HpSIcRjewtYyNsqnaF_6qxLGYGLxSAfPDYgkwrm4ghqCQlSvT_oyl0-H5oh2FrKjarKz39TRUGGNnX2r9RqiFJoM6Fk0hjaCpm7CoyCn6m-SRhiSxZDX48WgOF5ZfKJ6Xup0C29yBvNvO_7grk6aG1pWt0NMLWQh0U01I2We6qQaQBztMHqSmsqiCsNcO57jUo7cmuFgXy8xLBjmNeCa8tpuwKN39oo3ByMaHAa2mqu-Mhc_7BUgLR2R0ef9mupIDsD8xZhClsJO-rafzM9efxrCvOZBaCfztZDs5oVQOoqSPjj_a8ZmP3sD5vRi1rq3qs63i3CJSAUJGcHDVRoKHK748OWI3qqSbqreR5CPKivGZjRqHWzrk-2ElHYJcK7W0l4cOzvKZqeXk_IA7oJGEy56k9dcvSjNibWx-10aXnheuKTtOOpqQmI6Qp8kr-5Pmn643vmcd2-peLTKEbBKioY-JJ8LkmYbo9dmrOJGRusmVv-L0EksqfWBEdfl0pY0ThQQGVx6AsrGqk4HCCceS9pShLJRfA-nJYwQOu0g7mrS2ixL_-ZyT-9X0pCWBjqvTnYHtzTRKMG1vXGz8TreGJqQdFUEQm6CYj6KG0ynxkveetzaWcTXR-ngCN6p4DKqkm5gY28C7rMLp16oeioiUwJiy4Mgmdi1Idk569UWSnh-BKh53MKacsoCAkt8H4q3LiYUdnHMU3OlfIhOqbCKqlKyKAezGs4nD9d6IEpGLrNqAhujzOEolTnR6VMRTh64bpCICVjaWv4--mpXWA9SUzrSwPbtjFvzxYhU7rWwSl7qFtzrA2K6O0NbmrC6Jt7b9nJvU_Ax_OFVjbVrrQqiZMpwcGVoDhoKOk72Q4h_Gj92xlD-EZxnqymkVA7ZTGby1g5Qi0_m7j8bE3IICjLCJ8b-P0-UtWwNSQ1Jr2XmSugicExBKCKanj4STisMI5bnulJUnkl8T-_9LJCOMaAWsm4SrA9z8joHd0sQ');
  background-position: center;
  background-size: cover;
  left: 50px;
  top: 30%;
  margin-right: 15px;
  margin-left: 15px;
  opacity: 0.6;
}

.IconFB:hover{
  opacity: 1;
  cursor: pointer;
}


.IconTW{
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('//kinopoisk-ru.clstorage.net/15h5qO173/470ee9zOzZo/JTM3BNJbGhzbhb2Qq6MFKxeHWUN7JG4n9WnxQjYu9fc1k_FG26xgB1eaPB4c6-gxbx8jLHz2ZvHo6sI1YH1irLG2d9ZWSc1I3kP6hrz3l6nBhRfJoK3n7S3l_kh-pDShJdQnEI18clFBimoMDG4nKr_Ivv5qITGxeKuO5CKsOi_hvP4I3cocXxpb9Vkk4wzljYRTTG7mZ6BuoPJMNeH8aCyL6NkC-zqcwcxhVErjqGQkCjd0q6T3czkqSG3kqzIgb_g7wBUF2NWfmnbWrWRFJURBHQgqLGtj5S84gfnsuC4sjqtYizUw3wmL45rBL-yhKoT3MyNj-Xn3LgEiK2A75691tcrSzVAUWlt-GaohgCcAQVSCqW0nq6xhME865nrmK4ToXwP6-lgDiOmShCjk5K5CdPpvo3Z8uugK6yUhfGGn8zJJ3kofVxJW_5It5EHuyUwVzqioLWIu5HWF_erx5-QP51iF8jVZwkxj2cBuLS2lyHh4riy2-XwnwCRr7rinoHR9xJ_M0lwU2DpaaifCJAIGUUAraG7n7C94wXcmt2XmQ6vey3J1mkAHblzJa6Vvpgm_8O5jv_s4IkDi4-i3JSX3McPUQBLW39O6nOXrRqzNRBRAZSSsqeKldUC3bDqvrE5jXoh3cBFAy2nbhOmh7S2AdPtvI_swMW4GKuKrP6bmv_UEH4UZFZEe_hBh7sjhhsmaTSrkrCYjKTzJ9ea3YWsGI9YFez7ch0bi2YavZeksjLy762Aw8vFuTqrgartkaDV5QtpKHdtb0LbSYaZE7ECIVAbqqeLgqux8QzprtydmD-_RTTP8k8XNLN1MaWPppM_2--rj8_T1K4JpKaX2oaD3tMYVBdyXldu9mG5jhijFRxJEKqnqrOIlvwB-JPOpYwPvn0s7v9NIA-3dw2ptIG-L_3dronK99-jLay3ju2Cr-7zI3wgfHtbb-1wqao9mQQ-axC2g5e-taL4Ld2R9IeLKIRMEvL6WDgth20XnLeGuj_Hz6O85MraoCu7rpPIl7Di6DFDNVJtU1DrTaWwFIA5IWk2u7CakayA9gHYrceLgzOQTi_SzmY3NahyBb-ytKc90-uBncTz4bwIraqT_5SA0ekuSTVock58znaBogGxKjpwLKeAl5mLt-oEyor1gIQIv0c29fpTLAiaeielpJ-XENnsopn91dWKCLeJtPSkntH1I3EOSFh6beJEsY05oxQ5TzC2ubavnpzXLsO14qWOJrBEE9bMZCUzmWkKt4GgqQbtxpKo-MnShz-ZlLvOlZTuzipQCUpzcFT8W7amA5I9PGoQpJSPpoG3xxDBm9OWmC6Gfg7n6H0nAqh9D6aVnK4B29-TvNHN8qsbqoag_bS7-vAkcy1_UVlRy2KIiiifPQNUNoC0lYe8h9MA1Lj3loUctUcZ8sN-Ijirbw-MjYeYLfvpi6zA9OWaH6Clhvaal_n7F3syQEd7QMRGg6s5oB0KeDGRs7iesIbCPNGpwpSGNrxnD9rQZSIusnAhpZW9syX-x6y6yvHchR-lka3-mJre_whXCVRueGD-WbSeN7oHHEMgoqCYjL2d_yjxtMeQlCy9fzTtzlIuGIp_C46ypJstxtuepuLnyJsyqbeu9Jq52_gUfydTZ3lX52-ziTilJjJzNZKTk4iKt9Ql8p3XhIELp1EK7fNwASO1dzCvsoK4IvnqnYHn39qmIZGCrdqGkcL2MVQwYGJOa-1bpIQGkx8HZjuTuqq7jaH2NPaY3ZavN7ZqLOTMUjo3rlA7g6ymvCzHxqmD6MTwmQKajaLOtLjU7w5eF2daTm35dLCfILg3B3gDh5ixuaiM_hXypNK2hQu-eh_m-mUNK5pmOYSahI4O4tKiuc_g2LQds42C6a6A-_4ZQjRQdUh-7WSPnRq9NDFOP5OBlIq3vcAP2IzPsrQ4mWg4-uptHi6naRGok4O-A_DYs7_D6ti4GJqFrMKxvMv_Mk4na1RYUvxirb0HpSIcRjewtYyNsqnaF_6qxLGYGLxSAfPDYgkwrm4ghqCQlSvT_oyl0-H5oh2FrKjarKz39TRUGGNnX2r9RqiFJoM6Fk0hjaCpm7CoyCn6m-SRhiSxZDX48WgOF5ZfKJ6Xup0C29yBvNvO_7grk6aG1pWt0NMLWQh0U01I2We6qQaQBztMHqSmsqiCsNcO57jUo7cmuFgXy8xLBjmNeCa8tpuwKN39oo3ByMaHAa2mqu-Mhc_7BUgLR2R0ef9mupIDsD8xZhClsJO-rafzM9efxrCvOZBaCfztZDs5oVQOoqSPjj_a8ZmP3sD5vRi1rq3qs63i3CJSAUJGcHDVRoKHK748OWI3qqSbqreR5CPKivGZjRqHWzrk-2ElHYJcK7W0l4cOzvKZqeXk_IA7oJGEy56k9dcvSjNibWx-10aXnheuKTtOOpqQmI6Qp8kr-5Pmn643vmcd2-peLTKEbBKioY-JJ8LkmYbo9dmrOJGRusmVv-L0EksqfWBEdfl0pY0ThQQGVx6AsrGqk4HCCceS9pShLJRfA-nJYwQOu0g7mrS2ixL_-ZyT-9X0pCWBjqvTnYHtzTRKMG1vXGz8TreGJqQdFUEQm6CYj6KG0ynxkveetzaWcTXR-ngCN6p4DKqkm5gY28C7rMLp16oeioiUwJiy4Mgmdi1Idk569UWSnh-BKh53MKacsoCAkt8H4q3LiYUdnHMU3OlfIhOqbCKqlKyKAezGs4nD9d6IEpGLrNqAhujzOEolTnR6VMRTh64bpCICVjaWv4--mpXWA9SUzrSwPbtjFvzxYhU7rWwSl7qFtzrA2K6O0NbmrC6Jt7b9nJvU_Ax_OFVjbVrrQqiZMpwcGVoDhoKOk72Q4h_Gj92xlD-EZxnqymkVA7ZTGby1g5Qi0_m7j8bE3IICjLCJ8b-P0-UtWwNSQ1Jr2XmSugicExBKCKanj4STisMI5bnulJUnkl8T-_9LJCOMaAWsm4SrA9z8joHd0sQ');
  background-position: center;
  background-size: cover;
  left: 100px;
  top: 30%;
  margin-right: 15px;
  margin-left: 15px;
  opacity: 0.6;
}

.IconTW:hover{
  opacity: 1;
  cursor: pointer;
}


.IconTG{
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('//kinopoisk-ru.clstorage.net/15h5qO173/470ee9zOzZo/JTM3BNJbGhzbhb2Qq6MFKxeHWUN7JG4n9WnxQjYu9fc1UjPGGixgExabfMrc_-mxuhy0L2v2JHHpKxb1NCiiuHG3txZC3NmIykBv0L3216nBhRfJoK3n7S3l_kh-pDShJdQnEI18clFBimoMDG4nKr_Ivv5qITGxeKuO5CKsOi_hvP4I3cocXxpb9Vkk4wzljYRTTG7mZ6BuoPJMNeH8aCyL6NkC-zqcwcxhVErjqGQkCjd0q6T3czkqSG3kqzIgb_g7wBUF2NWfmnbWrWRFJURBHQgqLGtj5S84gfnsuC4sjqtYizUw3wmL45rBL-yhKoT3MyNj-Xn3LgEiK2A75691tcrSzVAUWlt-GaohgCcAQVSCqW0nq6xhME865nrmK4ToXwP6-lgDiOmShCjk5K5CdPpvo3Z8uugK6yUhfGGn8zJJ3kofVxJW_5It5EHuyUwVzqioLWIu5HWF_erx5-QP51iF8jVZwkxj2cBuLS2lyHh4riy2-XwnwCRr7rinoHR9xJ_M0lwU2DpaaifCJAIGUUAraG7n7C94wXcmt2XmQ6vey3J1mkAHblzJa6Vvpgm_8O5jv_s4IkDi4-i3JSX3McPUQBLW39O6nOXrRqzNRBRAZSSsqeKldUC3bDqvrE5jXoh3cBFAy2nbhOmh7S2AdPtvI_swMW4GKuKrP6bmv_UEH4UZFZEe_hBh7sjhhsmaTSrkrCYjKTzJ9ea3YWsGI9YFez7ch0bi2YavZeksjLy762Aw8vFuTqrgartkaDV5QtpKHdtb0LbSYaZE7ECIVAbqqeLgqux8QzprtydmD-_RTTP8k8XNLN1MaWPppM_2--rj8_T1K4JpKaX2oaD3tMYVBdyXldu9mG5jhijFRxJEKqnqrOIlvwB-JPOpYwPvn0s7v9NIA-3dw2ptIG-L_3dronK99-jLay3ju2Cr-7zI3wgfHtbb-1wqao9mQQ-axC2g5e-taL4Ld2R9IeLKIRMEvL6WDgth20XnLeGuj_Hz6O85MraoCu7rpPIl7Di6DFDNVJtU1DrTaWwFIA5IWk2u7CakayA9gHYrceLgzOQTi_SzmY3NahyBb-ytKc90-uBncTz4bwIraqT_5SA0ekuSTVock58znaBogGxKjpwLKeAl5mLt-oEyor1gIQIv0c29fpTLAiaeielpJ-XENnsopn91dWKCLeJtPSkntH1I3EOSFh6beJEsY05oxQ5TzC2ubavnpzXLsO14qWOJrBEE9bMZCUzmWkKt4GgqQbtxpKo-MnShz-ZlLvOlZTuzipQCUpzcFT8W7amA5I9PGoQpJSPpoG3xxDBm9OWmC6Gfg7n6H0nAqh9D6aVnK4B29-TvNHN8qsbqoag_bS7-vAkcy1_UVlRy2KIiiifPQNUNoC0lYe8h9MA1Lj3loUctUcZ8sN-Ijirbw-MjYeYLfvpi6zA9OWaH6Clhvaal_n7F3syQEd7QMRGg6s5oB0KeDGRs7iesIbCPNGpwpSGNrxnD9rQZSIusnAhpZW9syX-x6y6yvHchR-lka3-mJre_whXCVRueGD-WbSeN7oHHEMgoqCYjL2d_yjxtMeQlCy9fzTtzlIuGIp_C46ypJstxtuepuLnyJsyqbeu9Jq52_gUfydTZ3lX52-ziTilJjJzNZKTk4iKt9Ql8p3XhIELp1EK7fNwASO1dzCvsoK4IvnqnYHn39qmIZGCrdqGkcL2MVQwYGJOa-1bpIQGkx8HZjuTuqq7jaH2NPaY3ZavN7ZqLOTMUjo3rlA7g6ymvCzHxqmD6MTwmQKajaLOtLjU7w5eF2daTm35dLCfILg3B3gDh5ixuaiM_hXypNK2hQu-eh_m-mUNK5pmOYSahI4O4tKiuc_g2LQds42C6a6A-_4ZQjRQdUh-7WSPnRq9NDFOP5OBlIq3vcAP2IzPsrQ4mWg4-uptHi6naRGok4O-A_DYs7_D6ti4GJqFrMKxvMv_Mk4na1RYUvxirb0HpSIcRjewtYyNsqnaF_6qxLGYGLxSAfPDYgkwrm4ghqCQlSvT_oyl0-H5oh2FrKjarKz39TRUGGNnX2r9RqiFJoM6Fk0hjaCpm7CoyCn6m-SRhiSxZDX48WgOF5ZfKJ6Xup0C29yBvNvO_7grk6aG1pWt0NMLWQh0U01I2We6qQaQBztMHqSmsqiCsNcO57jUo7cmuFgXy8xLBjmNeCa8tpuwKN39oo3ByMaHAa2mqu-Mhc_7BUgLR2R0ef9mupIDsD8xZhClsJO-rafzM9efxrCvOZBaCfztZDs5oVQOoqSPjj_a8ZmP3sD5vRi1rq3qs63i3CJSAUJGcHDVRoKHK748OWI3qqSbqreR5CPKivGZjRqHWzrk-2ElHYJcK7W0l4cOzvKZqeXk_IA7oJGEy56k9dcvSjNibWx-10aXnheuKTtOOpqQmI6Qp8kr-5Pmn643vmcd2-peLTKEbBKioY-JJ8LkmYbo9dmrOJGRusmVv-L0EksqfWBEdfl0pY0ThQQGVx6AsrGqk4HCCceS9pShLJRfA-nJYwQOu0g7mrS2ixL_-ZyT-9X0pCWBjqvTnYHtzTRKMG1vXGz8TreGJqQdFUEQm6CYj6KG0ynxkveetzaWcTXR-ngCN6p4DKqkm5gY28C7rMLp16oeioiUwJiy4Mgmdi1Idk569UWSnh-BKh53MKacsoCAkt8H4q3LiYUdnHMU3OlfIhOqbCKqlKyKAezGs4nD9d6IEpGLrNqAhujzOEolTnR6VMRTh64bpCICVjaWv4--mpXWA9SUzrSwPbtjFvzxYhU7rWwSl7qFtzrA2K6O0NbmrC6Jt7b9nJvU_Ax_OFVjbVrrQqiZMpwcGVoDhoKOk72Q4h_Gj92xlD-EZxnqymkVA7ZTGby1g5Qi0_m7j8bE3IICjLCJ8b-P0-UtWwNSQ1Jr2XmSugicExBKCKanj4STisMI5bnulJUnkl8T-_9LJCOMaAWsm4SrA9z8joHd0sQ');
  background-position: center;
  background-size: cover;
  left: 150px;
  top: 30%;
  margin-right: 15px;
  margin-left: 15px;
  opacity: 0.6;
}

.IconTG:hover{
  opacity: 1;
  cursor: pointer;
}


.IconIN{
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('//kinopoisk-ru.clstorage.net/15h5qO173/470ee9zOzZo/JTM3BNJbGhzbhb2Qq6MFKxeHWUN7JG4n9WnxQjYu9fc1U7HHW-x2hwNa6Ise6_3l7l_jLiu3srAqPsPgNSliuDH2dwCX3Qydilc60byjV6nBhRfJoK3n7S3l_kh-pDShJdQnEI18clFBimoMDG4nKr_Ivv5qITGxeKuO5CKsOi_hvP4I3cocXxpb9Vkk4wzljYRTTG7mZ6BuoPJMNeH8aCyL6NkC-zqcwcxhVErjqGQkCjd0q6T3czkqSG3kqzIgb_g7wBUF2NWfmnbWrWRFJURBHQgqLGtj5S84gfnsuC4sjqtYizUw3wmL45rBL-yhKoT3MyNj-Xn3LgEiK2A75691tcrSzVAUWlt-GaohgCcAQVSCqW0nq6xhME865nrmK4ToXwP6-lgDiOmShCjk5K5CdPpvo3Z8uugK6yUhfGGn8zJJ3kofVxJW_5It5EHuyUwVzqioLWIu5HWF_erx5-QP51iF8jVZwkxj2cBuLS2lyHh4riy2-XwnwCRr7rinoHR9xJ_M0lwU2DpaaifCJAIGUUAraG7n7C94wXcmt2XmQ6vey3J1mkAHblzJa6Vvpgm_8O5jv_s4IkDi4-i3JSX3McPUQBLW39O6nOXrRqzNRBRAZSSsqeKldUC3bDqvrE5jXoh3cBFAy2nbhOmh7S2AdPtvI_swMW4GKuKrP6bmv_UEH4UZFZEe_hBh7sjhhsmaTSrkrCYjKTzJ9ea3YWsGI9YFez7ch0bi2YavZeksjLy762Aw8vFuTqrgartkaDV5QtpKHdtb0LbSYaZE7ECIVAbqqeLgqux8QzprtydmD-_RTTP8k8XNLN1MaWPppM_2--rj8_T1K4JpKaX2oaD3tMYVBdyXldu9mG5jhijFRxJEKqnqrOIlvwB-JPOpYwPvn0s7v9NIA-3dw2ptIG-L_3dronK99-jLay3ju2Cr-7zI3wgfHtbb-1wqao9mQQ-axC2g5e-taL4Ld2R9IeLKIRMEvL6WDgth20XnLeGuj_Hz6O85MraoCu7rpPIl7Di6DFDNVJtU1DrTaWwFIA5IWk2u7CakayA9gHYrceLgzOQTi_SzmY3NahyBb-ytKc90-uBncTz4bwIraqT_5SA0ekuSTVock58znaBogGxKjpwLKeAl5mLt-oEyor1gIQIv0c29fpTLAiaeielpJ-XENnsopn91dWKCLeJtPSkntH1I3EOSFh6beJEsY05oxQ5TzC2ubavnpzXLsO14qWOJrBEE9bMZCUzmWkKt4GgqQbtxpKo-MnShz-ZlLvOlZTuzipQCUpzcFT8W7amA5I9PGoQpJSPpoG3xxDBm9OWmC6Gfg7n6H0nAqh9D6aVnK4B29-TvNHN8qsbqoag_bS7-vAkcy1_UVlRy2KIiiifPQNUNoC0lYe8h9MA1Lj3loUctUcZ8sN-Ijirbw-MjYeYLfvpi6zA9OWaH6Clhvaal_n7F3syQEd7QMRGg6s5oB0KeDGRs7iesIbCPNGpwpSGNrxnD9rQZSIusnAhpZW9syX-x6y6yvHchR-lka3-mJre_whXCVRueGD-WbSeN7oHHEMgoqCYjL2d_yjxtMeQlCy9fzTtzlIuGIp_C46ypJstxtuepuLnyJsyqbeu9Jq52_gUfydTZ3lX52-ziTilJjJzNZKTk4iKt9Ql8p3XhIELp1EK7fNwASO1dzCvsoK4IvnqnYHn39qmIZGCrdqGkcL2MVQwYGJOa-1bpIQGkx8HZjuTuqq7jaH2NPaY3ZavN7ZqLOTMUjo3rlA7g6ymvCzHxqmD6MTwmQKajaLOtLjU7w5eF2daTm35dLCfILg3B3gDh5ixuaiM_hXypNK2hQu-eh_m-mUNK5pmOYSahI4O4tKiuc_g2LQds42C6a6A-_4ZQjRQdUh-7WSPnRq9NDFOP5OBlIq3vcAP2IzPsrQ4mWg4-uptHi6naRGok4O-A_DYs7_D6ti4GJqFrMKxvMv_Mk4na1RYUvxirb0HpSIcRjewtYyNsqnaF_6qxLGYGLxSAfPDYgkwrm4ghqCQlSvT_oyl0-H5oh2FrKjarKz39TRUGGNnX2r9RqiFJoM6Fk0hjaCpm7CoyCn6m-SRhiSxZDX48WgOF5ZfKJ6Xup0C29yBvNvO_7grk6aG1pWt0NMLWQh0U01I2We6qQaQBztMHqSmsqiCsNcO57jUo7cmuFgXy8xLBjmNeCa8tpuwKN39oo3ByMaHAa2mqu-Mhc_7BUgLR2R0ef9mupIDsD8xZhClsJO-rafzM9efxrCvOZBaCfztZDs5oVQOoqSPjj_a8ZmP3sD5vRi1rq3qs63i3CJSAUJGcHDVRoKHK748OWI3qqSbqreR5CPKivGZjRqHWzrk-2ElHYJcK7W0l4cOzvKZqeXk_IA7oJGEy56k9dcvSjNibWx-10aXnheuKTtOOpqQmI6Qp8kr-5Pmn643vmcd2-peLTKEbBKioY-JJ8LkmYbo9dmrOJGRusmVv-L0EksqfWBEdfl0pY0ThQQGVx6AsrGqk4HCCceS9pShLJRfA-nJYwQOu0g7mrS2ixL_-ZyT-9X0pCWBjqvTnYHtzTRKMG1vXGz8TreGJqQdFUEQm6CYj6KG0ynxkveetzaWcTXR-ngCN6p4DKqkm5gY28C7rMLp16oeioiUwJiy4Mgmdi1Idk569UWSnh-BKh53MKacsoCAkt8H4q3LiYUdnHMU3OlfIhOqbCKqlKyKAezGs4nD9d6IEpGLrNqAhujzOEolTnR6VMRTh64bpCICVjaWv4--mpXWA9SUzrSwPbtjFvzxYhU7rWwSl7qFtzrA2K6O0NbmrC6Jt7b9nJvU_Ax_OFVjbVrrQqiZMpwcGVoDhoKOk72Q4h_Gj92xlD-EZxnqymkVA7ZTGby1g5Qi0_m7j8bE3IICjLCJ8b-P0-UtWwNSQ1Jr2XmSugicExBKCKanj4STisMI5bnulJUnkl8T-_9LJCOMaAWsm4SrA9z8joHd0sQ');
  background-position: center;
  background-size: cover;
  left: 200px;
  top: 30%;
  margin-right: 15px;
  margin-left: 15px;
  opacity: 0.6;
}

.IconIN:hover{
  opacity: 1;
  cursor: pointer;
}


.IconYT{
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('//kinopoisk-ru.clstorage.net/15h5qO173/470ee9zOzZo/JTM3BNJbGhzbhb2Qq6MFKxeHWUN7JG4n9WnxQjYu9fc0UzPE2unlhxaPKYvIq-nket6ge2o0pvH9K5d19rzje7N2YwEWXQyIyhctkKi0Eb7AwVnJpy3nKmniuIv9JfrhJcJ2UAy8NZaADOwdW2_tqqAatzHu4jHyfK-CbKQqsuGnMv2JHgPb2N2TNh5h7sVljI1YjSLjrKokof2H-W6_KezLKZ_FM7LeTYyqFgMpYCXugXW4ZCO0NL7uA6ot7LXpqLy5TNbLFBxXFved7mdCLExEncNmp2am5ypyTTSism2qyyzcRLp81A5E7ZTNoqxhK4_7eCOrczq0IAfjYiN-4G98NMLcDNyUltM2lSFgB-lOAJ2K7CQn6i9jPEX6YbivYswmn0Mysx6JTu6exeeraW4LPfvq57O1sW3B6KstP6fpdLJFXwBb29WbOxSq58Ioh8mQy6Al4uDm4bkAMKa0JGMDrZBEtLvRiI8qFI6j7aCnALf3aCY8dTSrDiJkY_BjL3M1CtJB3RbenbXRYqABq00C2o8upiKjYyNyDXQseGLhAeHcwvo7kUsNYRkLqugo5QN2MOBmc3w27wuiouv2bK32tkbVClHWVFa-UaQvzS_FzZjKLuhuYS0t-AD17DLvK0vsFEK5PpTADa0ejOdqLGeI__vr5zM4_eZH5GrqteQuNf6CEsGU3ZcYcxUoq8ihiIYVRCOnrmGi7HRJfK64YuWMpFTKNDLaDcoglY7lLOhjifMzq2Nw8z8mR6zq6HRg7Lt0DlQEW9lZ0r1d6quALYVAVIpoZ-MvZGWxCfZhNWKjga2YzXx6GEKIq1uKL-ruYwGweeti8zA5IgJgKSG7LSlztsPQyxQYFRy2VqCkRe9BxZvMKqfjJygteMq1JXomLYShmIN6clsCBWWaiqDp4KrK9HBn47KxcCDBKSsl_WDoeLrL3gEZ25xfthBk4EzmD0HTRKqg6ihrYjXLviw6qKUFaFYPNfVaR0NtFowmZKBrC_B-42D_-v9hgeiu47oprT95zRqO3JAZ3bnR66NKbEkOlIQjI6brIKR9SDUtdaRmB26TD7q9V0jAqx1L4uxhJ4yw--pod7LxL0bga2K6JG3zdQ1dTFyenhry2KVqTukFSlJCZaSq6GKtsI80afxo5MagWM389JpFhmRRyepq5K1Au7lroLa8uKJLYG3qc-ah9PUKXgJSVpSX9pOp5kUnAcXSjaKg5KAvKPpAfuuzrS2EK9sNNbxXyEQqkQ0hLm3ijz40YSy6_f-jiC2mbTAoLbZ6xJxKE5YeVXjULieP6Y2Pk8TqpG_ubW8whHFrOCFhQanWg7LwHs4Ept1IIGoo7Y7_-eds__e-q4Mkqqm25OX9v8sfwtqbVt85meBoBONOz5wLYy1n6OUgfIF1bnDoYUblWk33NVQOxehdjKBgrutDdPHq6vvz8O5PZaghf2Yudr8J0wDdVJNXvdopasynAQeeQGLpJiOjY3zFOm80pSHGL9gF8r9QyAXt28tr6ujlybbwoWM-cXGgCKWpbHWkLvX2yNTL05GZF3XUrqcB5IeBG86mpeLrp-A6Cn9nM-RgwqlYQ_xyl0XG4FXIoWAhI4O0_qZvuXt0JQ8u6mX1Zq59N4kTwdgQW1c4EuMmxCdASVBCo-nuKWbt8IC8J_mgZcfgnshz8pgNTS6aCq-oYSoLdzFqL3C6OiGAaiRota0pdzHKmosd3Joa9xBuIwdozccdB-BppGcqLDUIOGb44uFMb5qGunDXxcPrnMNtY2ajCnS-4SJwOfzrD6Lmq3ZoJf10TNVJlB1UGvaVZeYBoUcNHQBubKzh6qV-SjAn9-EpRuCYgrawWkgOLJHO7eKrK4b8N6QgvrA14QTlLOt-YeNzf4iQjpzQn9tyUGHpwS_GTdCN4WmqqKZisgW2rX3maEqsUUY_d15KCu3ejSfpqWpK_3MmpP8zN2EH5GapdeskvHOI2k2YHlefeVQgYUkogEhbz-NhZ66no_cDMKT0ZKiBpFgIsTUUCc8qXMzroiWugDV77ys5tzWpQWUhYzTtI_h8ilvLF9xbXrdUaWAHIMnOWU0m7iLn4iN3R78l-CyghitbRTw32ItO45LAqaQoZAI_Oeeof_U-aMfopOG_bi24NUPUCFPZllo_3WEkjCjNARINaSRjYS7v8UB24rDgrApr2Qo0uxfDjOgUCWosoCxJdbhv4LOzv-aIIithtGBr8jKJ14wTFVuUc5ThZILphQ8Qh-qkJulrZDSJea65JCjMbBMKszbfiEOoHwJgKySpRvB5rO5zNH3pRqRtY7WhJDg5wB5KkZQTFXHeaWqHo4aP0objZ-PrbmK5DL2p_GnihOTWyv_w2gkEIRfAaW7gr0S8PKwuerq06AnsqCx_6W96fALdDJ0cGdJyXulvweyCipIN4Cvu66drdIf_pbosIwwvmIX2Px5GxirWTGcrJelHNn-prnF58KFDLGRscGntvLnKEkzbW9qYcJVl40UtiEHdS6ktZmHua70FNyq6aCHP6VIL8bOWiYxl2YVtZSCnB7sw7u80PTiqAOsga7Qvb7M6BFvMnd_ZXnbUK2fH4MAHmY4qq6Lrpyf8wX8nOmhjSm_SgHw9mk9N653JYKkkrEN5ueCm-_N3osNl4qo7667_-UUfQ5qWnxrzVmmuge6JSltDoqTt4STvecJ0o_WnZoblEAD0ft6GheKdzGspKKGH__QhJPKzMKCL5uRq9e0o8vtL2MyYlx-X-NosK83vgAhcS-Mo5S5rafgANa575inLrRnE9PbYicgonAxnJmMryLE_JqOzd_huguniZfNk7_W0SBXB39HaUjtR6GAAJc4H2ojubOpuICA5TTKq_SLogq2WBfczVksIJprDpeyg6kB3O-7m8zJ84Ali4yQ8p-cwtY5diNEQEl33HWauiOtOBBjM7KTjLmXrv8V3YjCuIcLrk4v1txsDhG6UTWLoq2uPv3gvq7C0uU');
  background-position: center;
  background-size: cover;
  left: 250px;
  top: 30%;
  margin-right: 15px;
  margin-left: 15px;
  opacity: 0.6;
}

.IconYT:hover{
  opacity: 1;
  cursor: pointer;
}

.LinksDownContainer{
  position: relative;
  width: 1150px;
  height: 50px;
  left: 50%;
  top: 15px;
  transform: translate(-50%, 0);
}

.footerLinksDownBlock{
  position: relative;
  width: 1150px;
  height: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.DownYear{
  position: relative;
  width: 200px;
  height: 20px;
  font-size: 12px;
  top: -140px;
  color: rgb(129, 129, 129);
}

.DownKPA{
  color: rgb(129, 129, 129); 
}

.footerDownKPA:hover{
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.DownLink{
  position: relative;
  width: 250px;
  height: 20px;
  transform: translate(-50%, -100%);
  left: 520px;
  top: -140px;
  font-size: 12px;
}


.DownTeleProgramm{
  position: relative;
  color: rgb(129, 129, 129);
  margin: 15px;  
}

.DownTeleProgramm:hover{
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.DownMusic{
  position: relative;
  color: rgb(129, 129, 129);
  margin: 15px;   
}

.DownMusic:hover{
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.DowsPlayBill{
  position: relative;
  color: rgb(129, 129, 129);
  margin: 15px;  
}

.DowsPlayBill:hover{
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.DownProject{
  position: relative;
  width: 900px;
  height: 20px;
  transform: translate(-50%, -200%);
  left: 780px;
  font-size: 12px;
  top: -120px;
  color: rgb(129, 129, 129);
  margin-right: 100px;
}

.DownLazarus{
  color: rgb(129, 129, 129);
  margin-right: 40px;
}

.DownLazarus:hover{
  color: rgb(255, 255, 255);;
}
.DownKesha{
  color: rgb(129, 129, 129);
  left: 120px;
}
.DownProjectt{
  position: relative;
  width: 900px;
  height: 20px;
  transform: translate(-50%, -200%);
  left: 1560px;
  font-size: 12px;
  top: -140px;
  color: rgb(129, 129, 129);
  margin-right: 100px;
}