.container{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.musicHead{
    
}

.verse1{
    position: relative;
    width: 500px;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0);
}