*{
    transition: 0.1s;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: bold;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: bold;
}

a{
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: bold;
    margin-top: 9px;
}

